<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title  th:text="|Jardineria Proyecto6 - ${titulo}|"></title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="/assets/vendor/home/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="/assets/vendor/home/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/assets/vendor/home/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/assets/vendor/home/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/assets/vendor/home/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="/assets/vendor/home/css/owl.carousel.min.css">
      <link rel="stylesoeet" href="/assets/vendor/home/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>

      <!-- header section start -->
      <div th:replace="fragments/home_header :: home_header"></div>
      <!-- header section end -->
      
      <div class="col" th:replace="${vista} :: contenido"></div>

      <!-- footer section start --> 
      <div th:replace="fragments/home_footer :: home_footer"></div>
      <!-- footer section end -->   
      <!-- Javascript files-->
      <script src="/assets/vendor/home/js/jquery.min.js"></script>
      <script src="/assets/vendor/home/js/popper.min.js"></script>
      <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/vendor/home/js/jquery-3.0.0.min.js"></script>
      <script src="/assets/vendor/home/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="/assets/vendor/home/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/assets/vendor/home/js/custom.js"></script>
      <!-- javascript --> 
      <script src="/assets/vendor/home/js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
            });
         });
      </script>
   </body>
</html>