<div class="container my-auto p-3" th:fragment="contenido">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header h3" th:text="|PUBLICACION ${publicacion.id}|"></div>
                <div class="card-body">
                    <p>
                        <span class="fw-bold">Fecha de creación:</span>
                        <span th:text="${#dates.format(publicacion.fechaCreacion, 'd MMMMM yyyy')}"></span>
                    </p>
                    <p>
                        <span class="fw-bold">Contenido</span>
                        <span th:text="${publicacion.contenido}"></span>
                    </p>
                    <p>
                        <span class="fw-bold">Usuario:</span>
                        <span th:text="${publicacion.usuarioId.nombre}"></span>
                    </p>
                    <div class="mb-3" th:if="${publicacion.foto != null}">
                        <img th:src="${'/images/publicaciones/' + publicacion.foto}" th:alt="${'Foto de publicación' + publicacion.id}" height="200px">
                    </div>
                    <div class="mb-3" th:each="pl : ${publicacion.plantas}">
                        <label th:for="|planta-${pl.id}|"></label>
                        <p th:id="|planta-${pl.id}|" th:text="${pl.nombre_cientifico}"></p>
                    </div>
                    
                    <div class="d-flex justify-content-center">
                        <a href="/publicaciones" class="btn btn-secondary mx-2">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:fragment="script"></script>